node_modules/
.vscode/
.env
src/config/config.json
chatapp-88b47-firebase-adminsdk-lu1et-8b1bd844bd.json
sequelizeData.json
public/
node.log
logs/
init.bat
web.config
src/db/config.json
src/config/config.js
.idea/
